@import "colors";
@import "sizes";
@mixin field-format {
    width: 100%;
    padding: $small-spacing $medium-spacing;
    margin: $x-small-spacing $no-spacing;
    display: inline-block;
    border: 1px solid $medium-light;
    border-radius: $small-radius;
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html {
    scroll-behavior: smooth;
}

body {
    margin: $no-spacing;
}

footer {
    text-align: center;
    padding-top: $large-spacing;
}

ul {
    list-style-type: none;
    margin: $no-spacing;
    padding: $large-spacing;
}

li {
    display: inline;
}

li a {
    color: $dark;
    text-align: center;
    padding: $small-spacing $small-spacing;
    text-decoration: none;
}

li a:hover {
    color: $light;
    background-color: $dark;
}

.menu-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.logo {
    max-height: 3rem;
    padding-left: $small-spacing;
    padding-top: $small-spacing;
}

.project-img {
    width: 100%;
    height: auto;
}

.nav-bar {
    float: right;
}

.title,
.recent-work-title,
.recent-work-description {
    padding-left: $small-spacing;
}

.title-container {
    width: 60%;
}

.banner {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 50% 50%;
}

.banner-container {
    max-height: 5%;
}

.project-1 {
    grid-area: 'project-1';
}

.project-2 {
    grid-area: 'project-2';
}

.project-3 {
    grid-area: 'project-3';
}

.project-4 {
    grid-area: 'project-4';
}

.projects-container {
    display: grid;
    grid-template-areas:
        'project-1 project-2'
        'project-3 project-4';
    text-align: center;
}

.project-container {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.project-container>*:first-child {
    align-self: center;
}

.footer-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.footer-description {
    padding-right: $medium-spacing;
    padding-bottom: $medium-spacing;
}

input[type=text],
select {
   @include field-format;
}

input[type=textarea],
select {
    @include field-format;
}

input[type=submit] {
    width: 100%;
    padding: $small-spacing $medium-spacing;
    margin: $x-small-spacing $no-spacing;
    border-radius: $small-radius;
    border: none;
    color: $light;
    background-color: $dark;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: $dark;
}

.form-container {
    border-radius: $small-radius;
    background-color: $large-light;
    padding: $medium-spacing;
    margin-top: 8rem;
    margin-left: $large-spacing;
    margin-right: $large-light;
    margin-bottom: $small-spacing;
}

.topnav {
    overflow: hidden;
    background-color: $light;
    position: relative;
    display: none; 
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: $dark;
    padding: $small-spacing $small-spacing;
    text-decoration: none;
    font-size: $font-size;
    display: block;
}

.topnav a.icon {
    background: $light;
    display: block;
    position: absolute;
    right: $no-spacing;
    top: $no;
}

.topnav a:hover {
    background-color: $medium-light;
    color: $dark;
}

.active {
    background-color: $green;
    color: $light;
}

@media only screen and (max-width: 900px) {
    .title-container {
        width: 100%;
    }

    .projects-container {
        grid-template-areas:
            'project-1'
            'project-2'
            'project-3'
            'project-4';
    }

    .form-container {
        margin-top: $no-spacing;
        margin-left: $no-spacing;
        margin-right: $no-spacing;
        margin-bottom: $no-spacing;
    }

    .topnav {
        display: block;
    }

    .menu-container {
        display: none;
    }

    .logo {
        max-height: 2rem;
        padding-left: $small-spacing;
        padding-top: $small-spacing;
    }
}